.bender/
modelsim.ini
time_*.txt
vsim.wlf
work/
bender
sw/pulp-sdk
scripts/compile.tcl
golden-model/venv/
golden-model/gemm/
__pycache__/
net_parameters.h
sw/inc/
work_*/
startup*.cpt
compile.log
vulnerability*.csv
transcript*.log
.vscode/